
body {
	
	
	
}

h1, h2 {
	text-align: center;
	color: #00ff00;
	margin-top: 20px;
	
}



.blok1 {
	height: 351px;
	width: 966px;
	margin: 0 auto;
margin-bottom: 50px;


}

.blok2 {
	height: 1352px;
	width: 720px;
	margin: 0 auto;
margin-bottom: 100px;
}